{% extends "base.html.twig" %}
 {% block body %}
     <h2>statistiques utilisations, nombre de connexion au site</h2>
     {{ nbConnectUser }}
     <h2>Nombre de connexion par utilisateurs</h2>
 {% endblock %}